body {
  background-color: #181630;
}

header {
  color: #ffff;
}

.cabecario {
  color: #ffffff;
  background-image: linear-gradient(#181630, #2d2445);
}

.paragrafo1 {
  width: 45%;
  text-align: justify;
}

.paragrafo2 {
  width: 45%;
  text-align: justify; 
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Alkatra', cursive;
}