body {
background-color: #181630;
}

header {
    color: #ffff;
}
.cabecario {
color: #ffffff;
background-image: linear-gradient(#181630, #2d2445);

}
.cabecariooo {
    width: 45%;
text-align: justify;
}
h1 {
  text-align: center;
}